@import "tailwindcss";

body {
  overflow-x: hidden;
}

footer {
  height: 100%;
  width: 100%;
  position: relative;
  bottom: 0;
  padding: 1rem;
  color: #c4c4c4;
  text-align: center;
}


@layer utilities {
  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fade-in {
    animation: fade-in 0.4s ease forwards;
  }
}